In [18]:
import numpy as np
import pandas as pd

In [19]:
df_test = pd.read_csv("test1.csv", sep=',')

In [20]:
df_test = df_test[['srch_id','prop_id']]

In [21]:
df_test = df_test.iloc[np.random.permutation(df_test.shape[0])]

In [22]:
df_test

        srch_id  prop_id
61281    270249    45457
213512   280456    62349
399846   292947    67320
368192   290835    18551
302772   286583   132475
551429   303050   102124
462483   297213    25628
923609   328257    30057
188439   278791    87674
376488   291420    59989
246731   282733   131445
197003   279358    25686
485794   298784    95397
655343   310096   139319
340436   288992    44912
988743   332575   123051
794789   319454    45364
629637   308388    26623
670471   311076    51131
703453   313303    24096
429453   294988   128571
104158   273101   118206
211850   280341    51211
400776   293004    52800
32090    268352    25909
620505   307751    95942
849492   323190    93646
570711   304390    28182
465823   297446   112113
782639   318653   102144
...         ...      ...
292844   285902   102897
533348   301911     8870
902149   326781    75781
26317    267969    80283
639103   309004    67545
604333   306715   131969
893323   326162    18873
572704   304517    74101
857954   323762    78973
544005   302574    68086
595710   306138    23760
310458   287080    60881
24307    267833    85614
253083   283189   123275
938270   329237    60008
282220   285153   126167
703905   313326    21591
301117   286471   125278
712455   313898   116895
307017   286860    62513
509938   300367    51901
191605   278991    10634
152703   276368    37446
823200   321367    52812
535228   302043    45896
576416   304770    70030
311468   287142   121304
774195   318107   117971
147109   275991    66731
70807    270891   110052

[991670 rows x 2 columns]

In [23]:
df_test = df_test.sort_values('srch_id')

In [24]:
df_test.to_csv("ranking_list_baseline.csv", header=True, index=False)